################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NN01/FileContentIndex/7faa8129-b077-4d6a-a771-736b0d858cea.vsidx
