################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NN01/FileContentIndex/7faa8129-b077-4d6a-a771-736b0d858cea.vsidx
/.vs/NN01/FileContentIndex/93b92248-18bf-4268-915e-244cdeee10f1.vsidx
/.vs/NN01/FileContentIndex/8d6e35ef-6c18-4667-93dc-4f1890e8c48b.vsidx
*.testlog
*.log
